@media (max-width: 639px) {

  .grid-text-container,
  .brand-context {
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 15%;
    width: 70%;
  }

  .body-item>.brand-context>p:last-of-type {
    font-family: "Barlow", sans-serif;
    line-height: 20pt;
    color: grey;
    font-size: 17px;
    max-width: 100%;
    margin-top: 20px;
    align-content: center;
    text-align: center;
  }

  .cup-text-container,
  .cup-context {
    margin: 15%;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .cup-item>.cup-context>p:last-of-type {
    font-family: "Barlow", sans-serif;
    line-height: 20pt;
    color: grey;
    font-size: 17px;
    max-width: 100%;
    margin-top: 20px;
    align-content: center;
    text-align: center;
  }
}

@media (max-width: 1030px) and (min-width: 768px) {

  .fruits-text-container,
  .fruits-context {
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin-top: 12em;
    margin-left: 1em;
  }

  .fruits-text-container,
  .fruits-context.fixed-context {
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin-top: 11em;
    margin-left: 1em;
  }
}
