html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("../images/desktop/image-header.jpg");
  min-height: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
