nav {
  font-family: 'Barlow', sans-serif;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

#head-navbar {
  width: 100%;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
}

.nav>.nav-item {
  display: inline-block;
  width: initial;
  white-space: nowrap;
  margin: 0 0 0 15px;
}

.nav {
  display: inline-block;
}

.nav-link {
  color: rgb(255, 255, 255);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  font-family: 'Fraunces', serif;
  color: rgb(54, 57, 51);
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: medium;
  border-radius: 25px;
  margin: 4px 2px;
  padding: 15px 25px 15px 25px;
  display: inline-block;
}

.nav-link.active:hover {
  background-color: rgb(110, 207, 255);
  color: white;
}

svg.arrow-image {
  width: auto;
  height: auto;
  position: absolute;
  top: 28em;
  left: auto;
}

.creative {
  position: fixed;
  font-family: 'Fraunces', serif;
  color: white;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 10px;
  top: 100px;
}

#hamburger {
  display: none;
}

span .creative-text {
  position: absolute;
}

@media screen and (max-width: 2000px) {
  .creative {
    display: block;
    position: relative;
    height: 100%;
  }
}
