//  Navigation and hamburger menu

@media (max-width: 767px) and (min-width: 375px) {

  // Header - navigation in mobile form
  //*****
  .nav.active {
    height: auto;
    width: 14em;
    background-color: #fffbf8;
    background-size: 150px;
    font-size: 1.5em;
    display: inline-block;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .creative {
    font-family: 'Fraunces', serif;
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
    top: 200px;
  }

  //*****
  // Header - navigation in mobile form


  // First line of elements - mobile
  //*****
  .wrapper>.body-items>.body-item>.grid-image-container>.desktop-image {
    display: none;
  }

  .wrapper>.body-items>.body-item>.grid-image-container>.mobile-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100% !important;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0;
  }

  .wrapper>.body-items .body-item:nth-of-type(2) {
    order: 1;
  }

  .wrapper>.body-items .body-item:nth-of-type(1) {
    order: 2;
  }

  .grid-text-container,
  .brand-context {
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  //*****
  // First line of elements


  // Second line of elements - mobile
  //*****
  .wrapper-cup>.cup-items>.cup-item>.cup-image-container>.desktop-image {
    display: none;
  }

  .wrapper-cup>.cup-items>.cup-item>.cup-image-container>.mobile-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100% !important;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0;
  }

  .cup-text-container,
  .cup-context {
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .brand-context>.learn-more-container>a.a-learn-more {
    text-decoration: none;
    color: #363933;
    height: 10px;
    font-family: "Fraunces", serif;
    position: relative;
    width: 8em;
    display: inline-grid;
    box-shadow: -2px 14px 0px 1px rgb(254, 244, 188);
    border-radius: 22px;
  }

  .brand-context>.learn-more-container>a.a-learn-more:hover {
    text-decoration: none;
    box-shadow: -2px 14px 0px 1px rgb(246, 211, 2);
    border-radius: 22px;
  }

  .brand-context>.learn-more-container {
    width: 100%;
  }

  .cup-context>.learn-more-container>a.a-learn-more {
    text-decoration: none;
    color: #363933;
    height: 10px;
    font-family: "Fraunces", serif;
    position: relative;
    width: 8em;
    display: inline-grid;
    box-shadow: -2px 14px 0px 1px rgb(253, 221, 207);
    border-radius: 22px;
  }

  .cup-context>.learn-more-container>a.a-learn-more:hover {
    text-decoration: none;
    box-shadow: -2px 14px 0px 1px rgb(249, 119, 103);
    border-radius: 22px;
  }

  .cup-context>.learn-more-container {
    width: 100%;
  }


  //*****
  // Second line of elements


  // Context styling - mobile
  //****
  h2:last-of-type {
    font-family: 'Fraunces', serif;
    font-size: 30px;
  }

  p:last-of-type {
    font-family: 'Barlow', sans-serif;
    line-height: 20pt;
    color: grey;
    font-size: 14px;
    max-width: 100%;
    margin-top: 20px;
    align-content: center;
    text-align: center;
  }

  .body-item>.brand-context>p:last-of-type {
    font-family: 'Barlow', sans-serif;
    line-height: 20pt;
    color: grey;
    font-size: 17px;
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
    align-content: center;
    text-align: center;
  }

  .cup-item>.cup-context>p:last-of-type {
    font-family: "Barlow", sans-serif;
    line-height: 20pt;
    color: grey;
    font-size: 17px;
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
    align-content: center;
    text-align: center;
  }

  .fruits-context>p:last-of-type {
    width: 300px;
  }

  .a-learn-more {
    margin-top: 20px;
  }

  //****
  // Context styling


  // Third line of elements - mobile
  //*****
  .wrapper-fruits>.fruits-items>.fruits-item>.fruits-image-container>.desktop-image {
    display: none;
  }

  .wrapper-fruits {
    position: relative;
  }

  .wrapper-fruits>.fruits-items>.fruits-item>.fruits-image-container>.mobile-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100% !important;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0;
  }

  .fruits-text-container,
  .fruits-context {
    position: absolute;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 20em;
  }

  .fruits-context>.fruits-cherry-text {
    color: #327165;
  }

  .fruits-context>.fruits-cherry-title {
    color: rgb(35, 87, 78);
  }

  .fruits-context>.fruits-orange-text {
    color: rgb(28, 109, 157);
  }

  .fruits-context>.fruits-orange-title {
    color: rgb(29, 86, 107);
  }

  .wrapper-client>.client-items>.client-item>.client-image-container>.testimonial-contains>.testimonial-text {
    color: #999;
    max-width: 343px;
    font-family: 'Barlow', sans-serif;
  }

  .testimonial-contains>p:last-of-type {
    font-family: 'Barlow', sans-serif;
    line-height: 26pt;
    color: grey;
    font-size: 18px;
    max-width: 100%;
    margin-top: 20px;
    align-content: center;
    text-align: center;
    width: 323px;
  }

  .testimonial-contains>h2:last-of-type {
    font-family: 'Fraunces', serif;
    font-size: 20px;
  }

  //*****
  // Third line of elements


  .wrapper-pics>.pics-item>.desktop-image {
    display: none;
  }

  .wrapper-pics>.pics-item>.mobile-image {
    width: 50%;
  }

  .wrapper-footer>.footer-container>.footer-image {
    width: 35%;
    text-align: center;
  }

  .nav-footer {
    margin-left: 5px;
  }

  .footer-item.nav-item {
    display: block;
    float: left;
    margin: 10px;
    padding: 10px;
  }

  .nav-footer>.footer-item.nav-item.project {
    margin-top: 18px;
  }

  .social-footer {
    word-spacing: 43px;
    width: 45%;
    margin: auto;
    height: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and(min-width: 374px) {
  .pics-item {
    /* Arrange children using flexbox */
    display: flex;
    /* ALlow images to display on multiple lines rather than a single line */
    flex-wrap: wrap;
    /* Container should take up only 90% of the browser, leave 5% space on each side */
    // width: 90%;
    /* Center container */
    margin: 0 auto;
  }

  .pics-image-container {
    /* images display inline by default and act like text. We want them to act like divs, so display block */
    display: block;
    /* our width setting for mobile, one image per line */
    flex-basis: 100%;
    /* ensure padding doesn't cause images to wrap, it should be within the width rather than in addition */
    box-sizing: border-box;
  }

}
